.team{
    margin: 4.6rem 0;
}
h1{
    
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.125rem;
    color: #333;
    padding-bottom: 0.625rem;
}

h1:after{
    content: '';
    background:#333;
    display: block;
    height: 0.188rem;
    width: 10.375rem;
    margin: 0.625rem auto;
}

.ourteam_wrapper{
	display: flex;
	flex-direction: column;
}

.ourteam_wrapper .team{
	display: flex;
	justify-content: space-between;
}

.ourteam_wrapper .team-1.team{
	margin-bottom: 25px;
}

.ourteam_wrapper .team_members{
	width: 23%;
	height: 10%;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

.ourteam_wrapper .team_members img{
	display: block;
	width: 100%;
	height: auto;
	transition: all 0.5s ease;
}

.ourteam_wrapper .team_members:hover img{
	transform: scale(1.1);
}